.DS_Store
.env
.flaskenv
*.pyc
*.pyo
venv/
venv*
kaima/
kaima*
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode/
*.swp
*.swo
static/semantic/tasks/
static/semantic/src/
node_modules/
package-lock.json
