<button id="id_logout" onclick="javascript:location.href='/logout'">logout</button>
{% if request.endpoint != 'main' %}
<button id="id_mypage_btn" onclick="javascript:location.href='/'">main</button>
{% endif %}
{% if request.endpoint != 'mypage' %}
<button id="id_mypage_btn" onclick="javascript:location.href='/mypage'">mypage</button>
{% endif %}
{% if request.endpoint != 'todo' %}
<button id="id_mypage_btn" onclick="javascript:location.href='/todo'">todo</button>
{% endif %}
{% if request.endpoint != 'get_statistics' %}
<button id="id_mypage_btn" onclick="javascript:location.href='/statistics'">통계</button>
{% endif %}