.login-form .ui.input {
    width: 250px;
    margin: 5px;
}
.login-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form input[type="submit"]{
    text-align: center!important;
    cursor: pointer!important;
}