<html>
    <head>
        {% include 'partials/head.html' %}
    </head>
    <style>
        #id_sentence_store_btn{
            margin-bottom: 10px;
        }
    </style>
    <body>
        {% include 'partials/header.html' %}
        <div class="container row-container">
            <div class="column-container">
                <div class="content-container ui form">
                    <div class="field">
                        <textarea id="id_ko_memo" placeholder="한글사전용"></textarea>
                        <div><span id="id_word_count">1</span>/5000</div>
                    </div>
                    <div class="field"><p id="id_result"></p></div>
                </div>
                <div class="ignore-words-container">
                    <button id="id_sentence_store_btn">문장저장</button>
                    <div class="ko-btn-container">
                        <button id="id_definitions_ko_btn">한글 사전</button>
                        <div class="loader" id="id_definitions_ko_loader"></div>
                    </div>
                    <h4>Ignore words</h4>
                    {% for item in data.ignore_words %}
                        <span>{{ item }} |</span>
                    {% endfor %}
                </div>
                <div class="content-container">
                    <div class="container column-container">
                        <div class="ui input">
                            <input id="id_en_memo" placeholder="영영사전용"/>
                            <button for="id_en_memo" id="id_definitions_en_btn">영영 사전</button>
                        </div>
                        <!-- <div class="ui input">
                            <input id="id_ko_memo_detail" placeholder="한글사전용"/>
                            <button for="id_ko_memo_detail" id="id_definitions_en_btn">자세한 한글 사전</button>
                        </div> -->
                        <div class="definitions-container">
                            <h4>뜻</h4>
                            <p id="id_definitions_ko"></p>
                        </div>
                        <div class="definitions-container">
                            <h4>영영사전</h4>
                            <p id="id_definitions_en"></p>
                        </div>
                        <!-- <p id="id_definitions_ko_detail"></p> -->
                    </div>
                </div>
            </div>
            <div class="content-container word-list-container">
                <div id="id_my_word_list"> hello </div>
            </div>
        </div>
    </body>
</html>