<html>
    <head>
        {% include 'partials/head.html' %}
    </head>
    <style>

    </style>
    <body>
        <button id="id_logout" onclick="javascript:location.href='/logout'">logout</button>
        <div class="container row-container">
            <div class="column-container">
                <div class="content-container ui form">
                    <div class="field">
                        <textarea id="id_ko_memo" placeholder="한글사전용"></textarea>
                    </div>
                    <div class="field"><p id="id_result"></p></div>
                </div>
                <div class="content-container">
                    <div class="container column-container">
                        <div class="ui input">
                            <input id="id_en_memo" placeholder="영영사전용"/>
                            <button for="id_en_memo" id="id_definitions_en_btn">영영 사전</button>
                        </div>
                        <button id="id_definitions_ko_btn">한글 사전</button>
                        <p id="id_definitions_ko"></p>
                        <p id="id_definitions_en"></p>
                    </div>
                </div>
            </div>
            <div class="content-container word-list-container">
                <div id="id_my_word_list"> hello </div>
            </div>
        </div>
    </body>
</html>