<html>
    <head>
        {% include 'partials/head.html' %}
    </head>
    <style>
        .column-container {
            margin: 30px;
        }
    </style>
    <body>
        <nav class="indigo lighten-4">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large">
                <i class="material-icons">menu</i>
            </a>
        </nav>
        <div class="column-container">
            준비중..
        </div>
        {% include 'partials/sidebar.html' %}
    </body>
</html>