<html>
    <head>
        {% include 'partials/head.html' %}
    </head>
    <style>
        .column-container {
            margin: 30px;
        }
    </style>
    <body>
        <nav class="indigo lighten-4">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large">
                <i class="material-icons">menu</i>
            </a>
        </nav>
        <div class="column-container">
            <p>1. 회원 가입</p>
            <p>2. 회원 정보 수정</p>
            <p>3. 무시하는 단어 기능만들기</p>
            <p>4. 무시하는 단어들 편집하는 페이지만들기</p>
            <p>5. 디자인 변경 --> 하는중</p>
            <p>6. 자세한 뜻 갖고오는 부분</p>
            <p>7. 통계 그래프 넣기</p>
            <p>8. 80번 포트로 돌려놓기</p>
            <p>9. 만든이 페이지 만들기(footer?)</p>
            <p>10. 소개 페이지 만들기, 튜토리얼?</p>
            <p>11. 지금있는 영영사전이랑 동일한 영한사전 input만들기 </p>
            <p>12. 이전 상태 자동저장 만들기</p>
            <p>13. 미니 게시판 만들기 https://quilljs.com/playground/</p>
            <p>14. contact page</p>
            <p>15. js css uglify</p>
        </div>
        {% include 'partials/sidebar.html' %}
    </body>
</html>
